/* line 3, ../scss/code.scss */
body {
  font-family: "Lato", Palatino, sans-serif;
  color: #2B2B2B;
}

/***TOP HEADING ***/
/* line 9, ../scss/code.scss */
header {
  padding: 5%;
  text-align: center;
  color: #727273;
}
/* line 14, ../scss/code.scss */
header a {
  font-weight: 300;
  font-size: 100%;
  text-decoration: none;
  color: #727273;
}

/* line 22, ../scss/code.scss */
h1 {
  font-size: 400%;
  font-weight: 300;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  /* line 29, ../scss/code.scss */
  h1 {
    font-size: 300%;
  }
}
/****CONTENT*****/
/* line 36, ../scss/code.scss */
.project1 {
  display: block;
  margin: 10% 5%;
}
/* line 40, ../scss/code.scss */
.project1 img {
  position: relative;
  float: left;
  width: 45%;
}
/* line 46, ../scss/code.scss */
.project1 .descrip {
  display: inline-block;
  position: relative;
  width: 50%;
  margin: 1%;
  margin-top: 0;
  padding-left: 3%;
  float: right;
}
/* line 55, ../scss/code.scss */
.project1 .descrip h2 {
  margin-top: 2%;
  margin-bottom: 5%;
  font-size: 200%;
}
/* line 61, ../scss/code.scss */
.project1 .descrip p {
  font-size: 100%;
}
/* line 65, ../scss/code.scss */
.project1 .descrip a {
  color: #2B2B2B;
}

/*****PROJECT TWO******/
/* line 72, ../scss/code.scss */
.project2 {
  display: block;
  margin: 10% 5%;
}
/* line 76, ../scss/code.scss */
.project2 h2 {
  margin-top: 2%;
  margin-bottom: 0;
  font-size: 200%;
}
/* line 82, ../scss/code.scss */
.project2 img {
  position: relative;
  display: inline-block;
  float: left;
  width: 45%;
  clear: left;
}
/* line 90, ../scss/code.scss */
.project2 .descrip {
  display: inline-block;
  position: relative;
  width: 50%;
  margin: 1%;
  margin-top: 0;
  padding-left: 3%;
  float: right;
  clear: right;
}
/* line 100, ../scss/code.scss */
.project2 .descrip p {
  font-size: 100%;
}
/* line 104, ../scss/code.scss */
.project2 .descrip a {
  color: #2B2B2B;
}

/*****CONTAIN*****/
/* line 114, ../scss/code.scss */
.project1:before,
.project1:after,
.project2:before,
.project2:after {
  content: "";
  display: table;
}

/* line 120, ../scss/code.scss */
.project1:after,
.project2:after {
  clear: both;
}

/* line 125, ../scss/code.scss */
.project1,
.project2 {
  clear: both;
  *zoom: 1;
}

/* line 130, ../scss/code.scss */
hr {
  width: 70%;
}

/*****RESPONSIVE CONTENT******/
@media (max-width: 500px) {
  /* line 138, ../scss/code.scss */
  .project1 .descrip h2,
  .project2 .descrip h2 {
    font-size: 140%;
  }
  /* line 142, ../scss/code.scss */
  .project1 .descrip p,
  .project2 .descrip p {
    font-size: 80%;
  }
}
@media (min-width: 500px) and (max-width: 650px) {
  /* line 151, ../scss/code.scss */
  .project1 .descrip h2,
  .project2 .descrip h2 {
    font-size: 150%;
  }
  /* line 155, ../scss/code.scss */
  .project1 .descrip p,
  .project2 .descrip p {
    font-size: 90%;
  }
}
@media (max-width: 820px) {
  /* line 163, ../scss/code.scss */
  .project1, .project2 {
    width: 60%;
    margin: 10% auto;
  }

  /* line 169, ../scss/code.scss */
  .project1 img,
  .project2 img {
    display: block;
    width: 100%;
    margin: 0 auto;
    float: center;
  }

  /* line 177, ../scss/code.scss */
  .project1 .descrip,
  .project2 .descrip {
    display: block;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    float: left;
  }
  /* line 184, ../scss/code.scss */
  .project1 .descrip h2,
  .project2 .descrip h2 {
    margin-top: 5%;
    text-align: center;
  }
}
@media (min-width: 1300px) {
  /* line 195, ../scss/code.scss */
  .project1 .descrip h2,
  .project2 .descrip h2 {
    font-size: 250%;
  }
  /* line 199, ../scss/code.scss */
  .project1 .descrip p,
  .project2 .descrip p {
    font-size: 115%;
  }
}
