@import url(http://fonts.googleapis.com/css?family=Chivo);
@import url(http://fonts.googleapis.com/css?family=Lato:300,100);
/* line 55, ../scss/general/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 63, ../scss/general/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../scss/general/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../scss/general/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, ../scss/general/_normalize.scss */
html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 113, ../scss/general/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../scss/general/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../scss/general/_normalize.scss */
a {
  background: transparent;
}
/* line 139, ../scss/general/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 146, ../scss/general/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, ../scss/general/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, ../scss/general/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, ../scss/general/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, ../scss/general/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, ../scss/general/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, ../scss/general/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, ../scss/general/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 199, ../scss/general/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, ../scss/general/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, ../scss/general/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 236, ../scss/general/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, ../scss/general/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, ../scss/general/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 271, ../scss/general/_normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 279, ../scss/general/_normalize.scss */
small {
  font-size: 80%;
}

/* line 287, ../scss/general/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 294, ../scss/general/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 298, ../scss/general/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 350, ../scss/general/_normalize.scss */
img {
  border: 0;
}

/* line 359, ../scss/general/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 369, ../scss/general/_normalize.scss */
figure {
  margin: 0;
}

/* line 386, ../scss/general/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 397, ../scss/general/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 414, ../scss/general/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 426, ../scss/general/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 436, ../scss/general/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 451, ../scss/general/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 462, ../scss/general/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 470, ../scss/general/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 479, ../scss/general/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 490, ../scss/general/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 498, ../scss/general/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 507, ../scss/general/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 517, ../scss/general/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
/* line 1, ../scss/base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
}
/* line 13, ../scss/base/extends/_button.scss */
button:hover,
input[type="submit"]:hover {
  background-color: #2c5999;
  color: white;
}
/* line 18, ../scss/base/extends/_button.scss */
button:disabled,
input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* line 1, ../scss/base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

/* line 14, ../scss/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* line 21, ../scss/base/_typography.scss */
h1 {
  font-size: 2.25em;
}

/* line 25, ../scss/base/_typography.scss */
h2 {
  font-size: 2em;
}

/* line 29, ../scss/base/_typography.scss */
h3 {
  font-size: 1.75em;
}

/* line 33, ../scss/base/_typography.scss */
h4 {
  font-size: 1.5em;
}

/* line 37, ../scss/base/_typography.scss */
h5 {
  font-size: 1.25em;
}

/* line 41, ../scss/base/_typography.scss */
h6 {
  font-size: 1em;
}

/* line 45, ../scss/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 49, ../scss/base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477dca;
  text-decoration: none;
}
/* line 54, ../scss/base/_typography.scss */
a:hover {
  color: #2c5999;
}
/* line 58, ../scss/base/_typography.scss */
a:active, a:focus {
  color: #2c5999;
  outline: none;
}

/* line 65, ../scss/base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 70, ../scss/base/_typography.scss */
blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

/* line 77, ../scss/base/_typography.scss */
cite {
  color: #737373;
  font-style: italic;
}
/* line 81, ../scss/base/_typography.scss */
cite:before {
  content: "\2014 \00A0";
}

/* line 1, ../scss/base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
}

/* line 10, ../scss/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

/* line 16, ../scss/base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em;
}
/* line 20, ../scss/base/_forms.scss */
label.required:after {
  content: "*";
}
/* line 24, ../scss/base/_forms.scss */
label abbr {
  display: none;
}

/* line 31, ../scss/base/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%;
}
/* line 44, ../scss/base/_forms.scss */
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: #c4c4c4;
}
/* line 48, ../scss/base/_forms.scss */
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: #477dca;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

/* line 55, ../scss/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 59, ../scss/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 64, ../scss/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 69, ../scss/base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%;
}

/* line 74, ../scss/base/_forms.scss */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}

/* line 1, ../scss/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, ../scss/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left;
}

/* line 15, ../scss/base/_tables.scss */
td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0;
}

/* line 22, ../scss/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

/* line 2, ../scss/base/_lists.scss */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 20, ../scss/base/_lists.scss */
dl {
  margin-bottom: 0.75em;
}
/* line 23, ../scss/base/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
/* line 28, ../scss/base/_lists.scss */
dl dd {
  margin: 0;
}

/* line 2, ../scss/base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 2, ../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../scss/landing.scss */
.remodal-bg {
  visibility: hidden;
}

/*******TOP HEADING********/
/* line 13, ../scss/landing.scss */
body {
  font-family: "Chivo", sans-serif;
  color: #555f61;
}

/* line 18, ../scss/landing.scss */
a {
  color: #719fd0;
  text-decoration: none;
}
/* line 22, ../scss/landing.scss */
a:hover {
  color: #555f61;
}

/* line 27, ../scss/landing.scss */
header {
  text-align: center;
  background: url("../img/trianglify.png") no-repeat 50% 50%;
  background-size: cover;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #fff;
  margin: 0 auto;
}

/* line 36, ../scss/landing.scss */
.h-main {
  display: block;
  font-size: 600%;
  font-family: "Chivo", sans-serif;
  font-weight: bold;
}

/***** NAV ******/
/* line 51, ../scss/landing.scss */
.navbar {
  font-family: "Chivo", sans-serif;
  position: fixed;
  padding: 2%;
  background: #fafafa;
  border-bottom: 1px solid #e5e8ec;
  color: #8c979a;
  z-index: 100;
}

/* line 61, ../scss/landing.scss */
.menuItem {
  display: inline-block;
  padding: 0 1em;
}
/* line 65, ../scss/landing.scss */
.menuItem a {
  color: #8c979a;
}

/* line 70, ../scss/landing.scss */
#home {
  float: left;
}

/* line 74, ../scss/landing.scss */
.right {
  float: right;
}

/* line 78, ../scss/landing.scss */
.stuckMenu {
  left: 0px;
  width: 100%;
}

/* line 83, ../scss/landing.scss */
.active a {
  text-decoration: line-through;
}

/***** ABOUT *****/
/* line 88, ../scss/landing.scss */
#about {
  padding-top: 5%;
}

/* line 92, ../scss/landing.scss */
#arrow-right, #arrow-right2 {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 100px solid #8ebde2;
}

/* line 100, ../scss/landing.scss */
#arrow-right2 {
  margin-top: -50px;
  margin-left: 25px;
  border-left-color: #677aae;
}

@media (max-width: 350px) {
  /* line 108, ../scss/landing.scss */
  #arrow-right, #arrow-right2 {
    border-top-width: 30px;
    border-bottom-width: 30px;
    border-left-width: 50px;
  }

  /* line 114, ../scss/landing.scss */
  #arrow-right2 {
    margin-top: -30px;
    margin-left: 20px;
  }
}
@media (min-width: 350px) and (max-width: 550px) {
  /* line 121, ../scss/landing.scss */
  #arrow-right, #arrow-right2 {
    border-top-width: 40px;
    border-bottom-width: 40px;
    border-left-width: 70px;
  }

  /* line 127, ../scss/landing.scss */
  #arrow-right2 {
    margin-top: -35px;
  }
}
/* line 132, ../scss/landing.scss */
#about-descrip {
  padding: 5%;
  padding-top: 2%;
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #8c979a;
  text-align: left;
}
/* line 139, ../scss/landing.scss */
#about-descrip a:hover {
  color: #555f61;
}

/* line 144, ../scss/landing.scss */
h2 {
  font-size: 150%;
}

/* line 148, ../scss/landing.scss */
#greet {
  color: #555f61;
  font-size: 300%;
  padding-bottom: 0.5em;
}

/* line 154, ../scss/landing.scss */
#subtitle {
  display: block;
  font-size: 70%;
}

/* line 159, ../scss/landing.scss */
#links {
  padding-top: 1em;
}

@media (max-width: 350px) {
  /* line 165, ../scss/landing.scss */
  #about-descrip > h2, #links > h2, p {
    font-size: 80%;
  }

  /* line 169, ../scss/landing.scss */
  .h-main {
    font-size: 300%;
  }

  /* line 173, ../scss/landing.scss */
  h3 {
    padding-top: 1em;
    font-size: 120%;
  }

  /* line 178, ../scss/landing.scss */
  #greet {
    font-size: 130%;
  }

  /* line 182, ../scss/landing.scss */
  #first, #second {
    display: block;
    padding: 0 initial;
    margin: 0 initial;
    line-height: 1em;
  }

  /* line 189, ../scss/landing.scss */
  #about-descrip {
    margin-bottom: 10%;
  }
}
@media (min-width: 350px) and (max-width: 500px) {
  /* line 195, ../scss/landing.scss */
  .h-main {
    font-size: 400%;
  }

  /* line 199, ../scss/landing.scss */
  #first, #second {
    display: block;
    margin: 0 initial;
    padding: 0 initial;
    line-height: 1em;
  }

  /* line 206, ../scss/landing.scss */
  h3 {
    font-size: 150%;
    padding-top: 1em;
  }

  /* line 211, ../scss/landing.scss */
  #about-descrip > h2, #links > h2 {
    font-size: 100%;
  }

  /* line 215, ../scss/landing.scss */
  #greet {
    font-size: 200%;
  }

  /* line 219, ../scss/landing.scss */
  .descrip p, .button {
    font-size: 80%;
  }

  /* line 223, ../scss/landing.scss */
  #about-descrip {
    margin-bottom: 10%;
  }
}
@media (min-width: 500px) and (max-width: 690px) {
  /* line 229, ../scss/landing.scss */
  .h-main {
    font-size: 500%;
  }

  /* line 233, ../scss/landing.scss */
  #first, #second {
    display: block;
    margin: 0 initial;
    padding: 0 initial;
    line-height: 1em;
  }

  /* line 240, ../scss/landing.scss */
  h3 {
    padding-top: 1em;
  }

  /* line 244, ../scss/landing.scss */
  #about-descrip > h2, #links > h2 {
    font-size: 130%;
  }

  /* line 248, ../scss/landing.scss */
  #greet {
    font-size: 230%;
  }

  /* line 252, ../scss/landing.scss */
  #about-descrip {
    margin-bottom: 10%;
  }
}
@media (min-width: 690px) and (max-width: 930px) {
  /* line 258, ../scss/landing.scss */
  .h-main {
    font-size: 600%;
  }

  /* line 262, ../scss/landing.scss */
  #about-descrip > h2, #links > h2 {
    font-size: 150%;
  }

  /* line 266, ../scss/landing.scss */
  #greet {
    font-size: 250%;
  }

  /* line 270, ../scss/landing.scss */
  #about-descrip {
    margin-bottom: 10%;
  }
}
@media (min-width: 1400px) {
  /* line 276, ../scss/landing.scss */
  .h-main {
    font-size: 800%;
  }

  /* line 280, ../scss/landing.scss */
  #about-descrip > h2, #links > h2 {
    font-size: 200%;
  }

  /* line 284, ../scss/landing.scss */
  #greet {
    font-size: 350%;
  }
}
/**** PROJECTS ****/
/* line 290, ../scss/landing.scss */
#arrow-left, #arrow-left2 {
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-right: 100px solid #8ebde2;
}

/* line 300, ../scss/landing.scss */
#arrow-left2 {
  margin-top: -50px;
  margin-right: 25px;
  border-right-color: #677aae;
}

@media (max-width: 350px) {
  /* line 308, ../scss/landing.scss */
  #arrow-left, #arrow-left2 {
    border-top-width: 30px;
    border-bottom-width: 30px;
    border-right-width: 50px;
  }

  /* line 314, ../scss/landing.scss */
  #arrow-left2 {
    margin-top: -30px;
    margin-right: 20px;
  }
}
@media (min-width: 350px) and (max-width: 550px) {
  /* line 321, ../scss/landing.scss */
  #arrow-left, #arrow-left2 {
    border-top-width: 40px;
    border-bottom-width: 40px;
    border-right-width: 70px;
  }

  /* line 327, ../scss/landing.scss */
  #arrow-left2 {
    margin-top: -40px;
  }
}
/* line 332, ../scss/landing.scss */
#title {
  font-size: 300%;
  text-align: center;
  color: #555f61;
}

/* line 338, ../scss/landing.scss */
#p-descrip {
  clear: both;
  padding: 0;
  padding-top: 10%;
}

/* line 344, ../scss/landing.scss */
hr {
  width: 3em;
  border-width: 2px;
}

/*** PROJECT BLOCKS ***/
/* line 350, ../scss/landing.scss */
.projects {
  display: block;
  margin: 5% auto;
  margin-bottom: 0;
}

/* line 356, ../scss/landing.scss */
.project {
  width: 100%;
  margin: 5% auto;
}
/* line 360, ../scss/landing.scss */
.project:last-child {
  margin-bottom: 0;
}

/* line 366, ../scss/landing.scss */
.proj-img {
  width: 650px;
  margin: 0 auto;
  padding-top: 10px;
  background: #e5e8ec;
  text-align: center;
  border: 20px solid #e5e8ec;
  border-bottom: none;
  border-top-width: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1;
  box-shadow: 0 0 0 4px #a7b0b2, 0 0 0 7px #dadedf;
}
/* line 382, ../scss/landing.scss */
.proj-img img {
  padding-top: 5px;
  display: block;
  width: 100%;
  max-height: 400px;
  min-height: 400px;
  margin: 0 auto;
}

/* line 393, ../scss/landing.scss */
.proj-content {
  z-index: 100;
}

/* line 397, ../scss/landing.scss */
.proj-title {
  margin: 0;
  padding: 0.5em;
  font-size: 200%;
  background: url(../img/trianglify.png) no-repeat 50% 50%;
  background-size: cover;
}

/* line 405, ../scss/landing.scss */
.time {
  color: #fff;
}

/* line 409, ../scss/landing.scss */
.proj-descrip {
  padding: 1em;
  background: #555f61;
  color: #fff;
}
/* line 414, ../scss/landing.scss */
.proj-descrip a:hover {
  color: #fff;
}

/* line 419, ../scss/landing.scss */
.btn {
  display: inline-block;
  padding: 1%;
  margin: 1% auto;
  text-align: center;
  font-weight: normal;
  outline: none;
  cursor: pointer;
}

/* line 429, ../scss/landing.scss */
.btn-p {
  display: none;
  background: #fff;
  color: #555f61;
  border: 2px solid #8ebde2;
  border-radius: 5px;
  transition: all ease 0.4s;
}
/* line 439, ../scss/landing.scss */
.btn-p:hover {
  color: #fff;
  background: #8ebde2;
}

@media (max-width: 400px) {
  /* line 447, ../scss/landing.scss */
  .proj-title {
    font-size: 150%;
  }

  /* line 451, ../scss/landing.scss */
  .proj-content {
    text-align: center;
  }

  /* line 455, ../scss/landing.scss */
  .time {
    font-size: 80%;
  }

  /* line 459, ../scss/landing.scss */
  #title {
    margin-top: 15%;
    font-size: 200%;
  }

  /* line 464, ../scss/landing.scss */
  .time {
    display: block;
  }

  /* line 468, ../scss/landing.scss */
  .divider {
    display: none;
  }
}
@media (min-width: 400px) and (max-width: 460px) {
  /* line 474, ../scss/landing.scss */
  .proj-title {
    font-size: 180%;
  }

  /* line 478, ../scss/landing.scss */
  .proj-content {
    text-align: center;
  }

  /* line 482, ../scss/landing.scss */
  .time {
    font-size: 90%;
  }

  /* line 486, ../scss/landing.scss */
  #title {
    margin-top: 10%;
    font-size: 250%;
  }

  /* line 491, ../scss/landing.scss */
  .time {
    display: block;
  }

  /* line 495, ../scss/landing.scss */
  .divider {
    display: none;
  }
}
@media (min-width: 460px) and (max-width: 850px) {
  /* line 501, ../scss/landing.scss */
  .proj-content {
    text-align: center;
  }

  /* line 505, ../scss/landing.scss */
  .time {
    display: block;
  }

  /* line 509, ../scss/landing.scss */
  .divider {
    display: none;
  }
}
@media (min-width: 1400px) {
  /* line 515, ../scss/landing.scss */
  #title {
    font-size: 400%;
  }

  /* line 519, ../scss/landing.scss */
  .proj-title {
    font-size: 250%;
  }

  /* line 523, ../scss/landing.scss */
  .proj-descrip {
    font-size: 130%;
  }
}
@media (max-width: 401px) {
  /* line 530, ../scss/landing.scss */
  .project {
    margin: 10% auto;
  }

  /* line 534, ../scss/landing.scss */
  .proj-img {
    width: 250px;
    padding-top: 1px;
    border-width: 10px;
    border-bottom: none;
    border-top-width: 1px;
    box-shadow: 0 0 0 3px #a7b0b2, 0 0 0 6px #dadedf;
  }
  /* line 543, ../scss/landing.scss */
  .proj-img i {
    font-size: 20%;
  }
  /* line 547, ../scss/landing.scss */
  .proj-img img {
    max-height: 150px;
    min-height: 150px;
    padding-top: 1px;
  }
}
@media (min-width: 401px) and (max-width: 560px) {
  /* line 556, ../scss/landing.scss */
  .project {
    margin: 10% auto;
  }

  /* line 560, ../scss/landing.scss */
  .proj-img {
    width: 350px;
    padding-top: 2px;
    border-width: 15px;
    border-bottom: none;
    border-top-width: 1px;
    box-shadow: 0 0 0 4px #a7b0b2, 0 0 0 7px #dadedf;
  }
  /* line 569, ../scss/landing.scss */
  .proj-img i {
    font-size: 40%;
  }
  /* line 573, ../scss/landing.scss */
  .proj-img img {
    max-height: 230px;
    min-height: 230px;
    padding-top: 2px;
  }
}
@media (min-width: 560px) and (max-width: 750px) {
  /* line 582, ../scss/landing.scss */
  .project {
    margin: 10% auto;
  }

  /* line 586, ../scss/landing.scss */
  .proj-img {
    width: 500px;
    padding-top: 2px;
    border-width: 15px;
    border-bottom: none;
    border-top-width: 1px;
    box-shadow: 0 0 0 4px #a7b0b2, 0 0 0 7px #dadedf;
  }
  /* line 596, ../scss/landing.scss */
  .proj-img i {
    font-size: 60%;
  }
  /* line 600, ../scss/landing.scss */
  .proj-img img {
    max-height: 300px;
    min-height: 300px;
    padding-top: 2px;
  }
}
@media (min-width: 1600px) {
  /* line 609, ../scss/landing.scss */
  .project {
    margin: 10% auto;
  }

  /* line 613, ../scss/landing.scss */
  .proj-img {
    width: 1000px;
  }
  /* line 616, ../scss/landing.scss */
  .proj-img img {
    max-height: 600px;
    min-height: 600px;
  }
}
/**** PORTFOLIO ***/
