@import url(http://fonts.googleapis.com/css?family=Chivo);
@import url(http://fonts.googleapis.com/css?family=Lato:300,100);
/* line 55, ../scss/general/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 63, ../scss/general/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../scss/general/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../scss/general/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, ../scss/general/_normalize.scss */
html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 113, ../scss/general/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../scss/general/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../scss/general/_normalize.scss */
a {
  background: transparent;
}
/* line 139, ../scss/general/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 146, ../scss/general/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, ../scss/general/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, ../scss/general/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, ../scss/general/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, ../scss/general/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, ../scss/general/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, ../scss/general/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, ../scss/general/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 199, ../scss/general/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, ../scss/general/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, ../scss/general/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 236, ../scss/general/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, ../scss/general/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, ../scss/general/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 271, ../scss/general/_normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 279, ../scss/general/_normalize.scss */
small {
  font-size: 80%;
}

/* line 287, ../scss/general/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 294, ../scss/general/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 298, ../scss/general/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 350, ../scss/general/_normalize.scss */
img {
  border: 0;
}

/* line 359, ../scss/general/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 369, ../scss/general/_normalize.scss */
figure {
  margin: 0;
}

/* line 386, ../scss/general/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 397, ../scss/general/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 414, ../scss/general/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 426, ../scss/general/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 436, ../scss/general/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 451, ../scss/general/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 462, ../scss/general/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 470, ../scss/general/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 479, ../scss/general/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 490, ../scss/general/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 498, ../scss/general/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 507, ../scss/general/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 517, ../scss/general/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
/* line 1, ../scss/base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
}
/* line 13, ../scss/base/extends/_button.scss */
button:hover,
input[type="submit"]:hover {
  background-color: #2c5999;
  color: white;
}
/* line 18, ../scss/base/extends/_button.scss */
button:disabled,
input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* line 1, ../scss/base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

/* line 14, ../scss/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* line 21, ../scss/base/_typography.scss */
h1 {
  font-size: 2.25em;
}

/* line 25, ../scss/base/_typography.scss */
h2 {
  font-size: 2em;
}

/* line 29, ../scss/base/_typography.scss */
h3 {
  font-size: 1.75em;
}

/* line 33, ../scss/base/_typography.scss */
h4 {
  font-size: 1.5em;
}

/* line 37, ../scss/base/_typography.scss */
h5 {
  font-size: 1.25em;
}

/* line 41, ../scss/base/_typography.scss */
h6 {
  font-size: 1em;
}

/* line 45, ../scss/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 49, ../scss/base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477dca;
  text-decoration: none;
}
/* line 54, ../scss/base/_typography.scss */
a:hover {
  color: #2c5999;
}
/* line 58, ../scss/base/_typography.scss */
a:active, a:focus {
  color: #2c5999;
  outline: none;
}

/* line 65, ../scss/base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 70, ../scss/base/_typography.scss */
blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

/* line 77, ../scss/base/_typography.scss */
cite {
  color: #737373;
  font-style: italic;
}
/* line 81, ../scss/base/_typography.scss */
cite:before {
  content: "\2014 \00A0";
}

/* line 1, ../scss/base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
}

/* line 10, ../scss/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

/* line 16, ../scss/base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em;
}
/* line 20, ../scss/base/_forms.scss */
label.required:after {
  content: "*";
}
/* line 24, ../scss/base/_forms.scss */
label abbr {
  display: none;
}

/* line 31, ../scss/base/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%;
}
/* line 44, ../scss/base/_forms.scss */
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: #c4c4c4;
}
/* line 48, ../scss/base/_forms.scss */
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: #477dca;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

/* line 55, ../scss/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 59, ../scss/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 64, ../scss/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 69, ../scss/base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%;
}

/* line 74, ../scss/base/_forms.scss */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}

/* line 1, ../scss/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, ../scss/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left;
}

/* line 15, ../scss/base/_tables.scss */
td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0;
}

/* line 22, ../scss/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

/* line 2, ../scss/base/_lists.scss */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 20, ../scss/base/_lists.scss */
dl {
  margin-bottom: 0.75em;
}
/* line 23, ../scss/base/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
/* line 28, ../scss/base/_lists.scss */
dl dd {
  margin: 0;
}

/* line 2, ../scss/base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 2, ../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/***** HEADING ****/
/* line 12, ../scss/style.scss */
header {
  background-color: #555f61;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: "Chivo", sans-serif;
}

/* line 20, ../scss/style.scss */
h1 {
  padding: 3em 1em;
  font-size: 300%;
  font-weight: 700;
  text-align: center;
}

/* line 27, ../scss/style.scss */
#home {
  top: 0;
  padding-top: 1em;
  margin-right: 1em;
  margin-top: 0;
  float: right;
  text-decoration: none;
  font-size: 20px;
  color: white;
}

@media (max-width: 400px) {
  /* line 40, ../scss/style.scss */
  h1 {
    font-size: 150%;
  }
}
@media (min-width: 400px) and (max-width: 550px) {
  /* line 45, ../scss/style.scss */
  h1 {
    font-size: 200%;
  }

  /* line 49, ../scss/style.scss */
  #home {
    font-size: 17px;
  }
}
/* -------------------------------- 

Primary style

-------------------------------- */
/* line 60, ../scss/style.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 65, ../scss/style.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 69, ../scss/style.scss */
body {
  font-family: "Chivo", sans-serif;
}

/* line 73, ../scss/style.scss */
a {
  text-decoration: none;
}

/* line 77, ../scss/style.scss */
img {
  max-width: 100%;
}

/* line 81, ../scss/style.scss */
p {
  text-align: center;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
/* line 90, ../scss/style.scss */
.cd-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 95, ../scss/style.scss */
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
/* line 109, ../scss/style.scss */
.cd-gallery-container {
  margin: 2em auto;
}
@media only screen and (min-width: 1200px) {
  /* line 109, ../scss/style.scss */
  .cd-gallery-container {
    margin: 4em auto;
  }
}

/* line 117, ../scss/style.scss */
.cd-filter {
  position: relative;
  height: 40px;
  width: 150px;
  margin: 0 auto;
  cursor: pointer;
  z-index: 10;
}
/* line 125, ../scss/style.scss */
.cd-filter ul {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border-radius: 0.25em;
  border-color: #2abb9b;
}
/* line 134, ../scss/style.scss */
.cd-filter li {
  display: none;
}
/* line 137, ../scss/style.scss */
.cd-filter li:first-child {
  display: block;
  /* this way the placehodler is alway visible */
}
/* line 141, ../scss/style.scss */
.cd-filter li:last-child a {
  border-radius: 0 0 .25em .25em;
}
/* line 145, ../scss/style.scss */
.cd-filter li p {
  text-align: center;
}
/* line 150, ../scss/style.scss */
.cd-filter a {
  display: block;
  height: 40px;
  width: 150px;
  line-height: 40px;
  padding-left: 14px;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #2abb9b;
  border: 1px solid #2abb9b;
}
/* line 162, ../scss/style.scss */
.cd-filter a.selected {
  background: #2abb9b;
  color: white;
  border: none;
}
/* line 167, ../scss/style.scss */
.no-touch .cd-filter a.selected:hover {
  background: #2fd0ac;
  border: none;
}
/* line 176, ../scss/style.scss */
.cd-filter.is-open::after {
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -moz-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  -o-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
  /* small arrow rotation */
}
/* line 180, ../scss/style.scss */
.cd-filter.is-open ul li {
  display: block;
}
/* line 184, ../scss/style.scss */
.cd-filter.is-open .placeholder a {
  opacity: .4;
  /* reduces the opacity of the placeholder on mobile when the menu is open */
  border: 1px solid #2abb9b;
}
@media only screen and (min-width: 768px) {
  /* line 117, ../scss/style.scss */
  .cd-filter {
    height: auto;
    width: auto;
  }
  /* line 194, ../scss/style.scss */
  .cd-filter ul {
    background: transparent;
    position: static;
    text-align: center;
  }
  /* line 200, ../scss/style.scss */
  .cd-filter li {
    display: inline-block;
    margin: 0 .4em;
  }
  /* line 204, ../scss/style.scss */
  .cd-filter li:first-child {
    display: inline-block;
  }
  /* line 208, ../scss/style.scss */
  .cd-filter li.placeholder {
    display: none !important;
  }
  /* line 210, ../scss/style.scss */
  .cd-filter li.placeholder a {
    display: none;
  }
  /* line 216, ../scss/style.scss */
  .cd-filter a {
    display: inline-block;
    padding: 1em 2em;
    height: auto;
    width: auto;
    line-height: 1;
    border-radius: 50em !important;
  }
  /* line 224, ../scss/style.scss */
  .no-touch .cd-filter a:hover {
    box-shadow: inset 0 0 0 2px #2abb9b;
    border: none;
  }
  /* line 229, ../scss/style.scss */
  .cd-filter a.selected:hover {
    box-shadow: none;
    /* removes the hover effect from the selected item */
    border: none;
  }
  /* line 237, ../scss/style.scss */
  .cd-filter.is-open ul li {
    display: inline-block;
  }
}

/* -------------------------------- 

xgallery 

-------------------------------- */
/* line 250, ../scss/style.scss */
.cd-gallery {
  margin-top: 2em;
  position: relative;
  z-index: 5;
}
/* line 255, ../scss/style.scss */
.cd-gallery > li {
  position: relative;
  margin-bottom: 1em;
}
/* line 260, ../scss/style.scss */
.cd-gallery .cd-item-wrapper {
  /* this is the item that rotates */
  position: relative;
}
/* line 263, ../scss/style.scss */
.touch .cd-gallery .cd-item-wrapper {
  /* fix a bug on IOS8 - rotating elements dissapear*/
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
}
/* line 270, ../scss/style.scss */
.cd-gallery .cd-item-wrapper.is-switched .is-visible {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-animation: cd-rotate 0.5s;
  -moz-animation: cd-rotate 0.5s;
  animation: cd-rotate 0.5s;
}
/* line 275, ../scss/style.scss */
.cd-gallery .cd-item-wrapper.is-switched .is-hidden {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-animation: cd-rotate-inverse 0.5s;
  -moz-animation: cd-rotate-inverse 0.5s;
  animation: cd-rotate-inverse 0.5s;
  opacity: 0;
}
/* line 281, ../scss/style.scss */
.cd-gallery .cd-item-wrapper.is-switched .is-selected {
  opacity: 1;
}
/* line 287, ../scss/style.scss */
.cd-gallery .cd-item-wrapper > li {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 0.25em;
}
/* line 291, ../scss/style.scss */
.cd-gallery .cd-item-wrapper > li img {
  display: block;
  width: 100%;
  border-radius: 0.25em;
}
/* line 298, ../scss/style.scss */
.cd-gallery li.is-visible {
  /* the front item, visible by default */
  position: relative;
  z-index: 5;
}
/* line 303, ../scss/style.scss */
.cd-gallery li.is-hidden {
  /* the hidden items, right behind the front one */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 313, ../scss/style.scss */
.cd-gallery li.is-selected {
  /* the next item that will be visible */
  z-index: 3 !important;
}
@media only screen and (min-width: 480px) {
  /* line 318, ../scss/style.scss */
  .cd-gallery > li {
    width: 48%;
    float: left;
    margin-right: 4%;
    margin-bottom: 1.2em;
  }
  /* line 323, ../scss/style.scss */
  .cd-gallery > li:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 768px) {
  /* line 330, ../scss/style.scss */
  .cd-gallery > li {
    width: 22%;
    float: left;
  }
  /* line 333, ../scss/style.scss */
  .cd-gallery > li:nth-of-type(2n) {
    margin-right: 4%;
  }
  /* line 337, ../scss/style.scss */
  .cd-gallery > li:nth-of-type(4n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 250, ../scss/style.scss */
  .cd-gallery {
    margin-top: 4em;
  }
}

/* -------------------------------- 

xkeyframes 

-------------------------------- */
@-webkit-keyframes cd-rotate {
  /* line 356, ../scss/style.scss */
  0% {
    -webkit-transform: perspective(800px) rotateY(0);
  }

  /* line 360, ../scss/style.scss */
  70% {
    -webkit-transform: perspective(800px) rotateY(200deg);
    /* this creates the bounce effect */
  }

  /* line 364, ../scss/style.scss */
  100% {
    -webkit-transform: perspective(800px) rotateY(180deg);
  }
}

@-moz-keyframes cd-rotate {
  /* line 356, ../scss/style.scss */
  0% {
    -moz-transform: perspective(800px) rotateY(0);
  }

  /* line 360, ../scss/style.scss */
  70% {
    -moz-transform: perspective(800px) rotateY(200deg);
    /* this creates the bounce effect */
  }

  /* line 364, ../scss/style.scss */
  100% {
    -moz-transform: perspective(800px) rotateY(180deg);
  }
}

@keyframes cd-rotate {
  /* line 356, ../scss/style.scss */
  0% {
    -webkit-transform: perspective(800px) rotateY(0);
    -moz-transform: perspective(800px) rotateY(0);
    -ms-transform: perspective(800px) rotateY(0);
    -o-transform: perspective(800px) rotateY(0);
    transform: perspective(800px) rotateY(0);
  }

  /* line 360, ../scss/style.scss */
  70% {
    -webkit-transform: perspective(800px) rotateY(200deg);
    -moz-transform: perspective(800px) rotateY(200deg);
    -ms-transform: perspective(800px) rotateY(200deg);
    -o-transform: perspective(800px) rotateY(200deg);
    transform: perspective(800px) rotateY(200deg);
    /* this creates the bounce effect */
  }

  /* line 364, ../scss/style.scss */
  100% {
    -webkit-transform: perspective(800px) rotateY(180deg);
    -moz-transform: perspective(800px) rotateY(180deg);
    -ms-transform: perspective(800px) rotateY(180deg);
    -o-transform: perspective(800px) rotateY(180deg);
    transform: perspective(800px) rotateY(180deg);
  }
}

@-webkit-keyframes cd-rotate-inverse {
  /* line 370, ../scss/style.scss */
  0% {
    -webkit-transform: perspective(800px) rotateY(-180deg);
  }

  /* line 374, ../scss/style.scss */
  70% {
    -webkit-transform: perspective(800px) rotateY(20deg);
    /* this creates the bounce effect */
  }

  /* line 378, ../scss/style.scss */
  100% {
    -webkit-transform: perspective(800px) rotateY(0);
  }
}

@-moz-keyframes cd-rotate-inverse {
  /* line 370, ../scss/style.scss */
  0% {
    -moz-transform: perspective(800px) rotateY(-180deg);
  }

  /* line 374, ../scss/style.scss */
  70% {
    -moz-transform: perspective(800px) rotateY(20deg);
    /* this creates the bounce effect */
  }

  /* line 378, ../scss/style.scss */
  100% {
    -moz-transform: perspective(800px) rotateY(0);
  }
}

@keyframes cd-rotate-inverse {
  /* line 370, ../scss/style.scss */
  0% {
    -webkit-transform: perspective(800px) rotateY(-180deg);
    -moz-transform: perspective(800px) rotateY(-180deg);
    -ms-transform: perspective(800px) rotateY(-180deg);
    -o-transform: perspective(800px) rotateY(-180deg);
    transform: perspective(800px) rotateY(-180deg);
  }

  /* line 374, ../scss/style.scss */
  70% {
    -webkit-transform: perspective(800px) rotateY(20deg);
    -moz-transform: perspective(800px) rotateY(20deg);
    -ms-transform: perspective(800px) rotateY(20deg);
    -o-transform: perspective(800px) rotateY(20deg);
    transform: perspective(800px) rotateY(20deg);
    /* this creates the bounce effect */
  }

  /* line 378, ../scss/style.scss */
  100% {
    -webkit-transform: perspective(800px) rotateY(0);
    -moz-transform: perspective(800px) rotateY(0);
    -ms-transform: perspective(800px) rotateY(0);
    -o-transform: perspective(800px) rotateY(0);
    transform: perspective(800px) rotateY(0);
  }
}
