@import "general/normalize";
@import "general/variables";
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

/*******TOP HEADING********/
body {
    font-family: $header-font-family;
}

a {
    color:$carib;  
    text-decoration: none;
}

header {
  text-align:center;
  background:url("../img/landing-background.gif") no-repeat 50% 50% fixed;
  //background-color:$carib;
  background-size:cover;
  color:#fff;
  margin: 0 auto;
  padding:5%;
}

h1 {
  font-size:500%;
  font-family:$header-font;
}

/***** ABOUT *****/
#about {
    padding: 7em 2em;
    color:$asher;
    text-align:center;
    a:hover {
        color:$asher;
    }
}

#greet {
    font-size:300%;
    padding-bottom:0.5em;
}

#links {
    padding-top:1em;
}

// ABOUT MEDIA QUERIES
@media (max-width:350px) {
  h1, #greet {
    font-size:130%;
  }

  h2, p {
    font-size:80%;
  }
}

@media (min-width:350px) and (max-width:500px) {
  h1 {
    font-size:250%;
  }

  #greet {
    font-size:200%;
  }

  h2{
    font-size:100%;
  }
    
  .descrip p, .button {
      font-size:80%;
  }
}

@media (min-width:500px) and (max-width:690px) {
  h1 {
    font-size:300%;
  }
  
  #greet {
    font-size:230%;
  }
    
  h2 {
    font-size:130%;
  }
}

@media (min-width:690px) and (max-width:930px) {
  h1 {
    font-size:400%;
  }
  
  #greet {
    font-size:250%;
  }
    
  h2 {
    font-size:150%;
  }
}

/**** PORTFOLIO ***/
#port {
    @include outer-container;
    margin:0;
    padding:2em 0em;
    background:$asher;
    color:$general;
    font-size:150%;
    font-family: $header-font-family;
    
    a:hover {
        color:$general;
    }
}


@media (min-width:1100px) {
  #port {
    padding: 2em 5em;
  }
}

.descrip {
    @include span-columns(6);
    text-align: center;
    margin:0;
    padding:2em 0;
}

.other {
    @include span-columns(12);
    text-align: center;
    margin:0;
    padding:2em 0;
}

@media (max-width:800px) {
    // make single column
    .descrip {
        @include span-columns(12);
    }
}

hr {
    width:3em;
}

p {
    margin-bottom:0;
}

// temp
h2.temp{
    text-align:center;
}