@import "general/normalize";
@import "general/variables";
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

/*******TOP HEADING********/
body {
    font-family: $header-font;
    color: $asher;
}

a {
    color:$light-b;  
    text-decoration: none;
    
    &:hover {
        color: $asher;
    }
}

header {
  text-align:center;
  background-size:cover;
  color:$silver;
  margin: 0 auto;
}

.h-main {
  display:block;
  font-size:800%;
  font-family:$header-font;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent,                         transparent), url("../img/download2.png")                     repeat 25% 25%;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
}

h3 {
    color: $silver;
}

/***** NAV ******/
.navbar {
    position:fixed;
    padding: 2%;
    background: $back;
    border-bottom: 1px solid $head-g;
    color: $gray;
    z-index: 100;
}

.menuItem {
    display:inline-block;
    padding: 0 1em;
   
    a {
        color: $gray;
    }
}

#home {
    float:left;
}

.right {
    float:right;
}

.stuckMenu{
    left:0px;
    width:100%;
}

.active a {
    text-decoration:line-through;
}

/***** ABOUT *****/
#arrow-right {
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 100px solid $bright-b;
}

#arrow-right2 {
    @extend #arrow-right;
    margin-top:-50px;
    margin-left: 25px;
    border-left-color: $dark-b;
}

#about-descrip {
    padding: 5%;
    padding-top: 2%;
    background:#fff;
    color: $gray;
    text-align:left;
    a:hover {
        color:$asher;
    }
}

h2 {
    font-size: 150%;
}

#greet {
    color: $asher;
    font-size:300%;
    padding-bottom: 0.5em;
}

#subtitle {
    display: block;
    font-size:70%;
}

#links {
    padding-top:1em;
}

// ABOUT MEDIA QUERIES
@media (max-width:350px) {
  .h-main , #greet {
    font-size:130%;
  }
    
  #first {
    display:block;
  }
  

  h2, p {
    font-size:80%;
  }
}

@media (min-width:350px) and (max-width:500px) {
  .h-main  {
    font-size:400%;
  }
  
  #first {
    display:block;
      margin-bottom:0;
  }
  

  #greet {
    font-size:200%;
  }

  h2{
    font-size:100%;
  }
    
  .descrip p, .button {
      font-size:80%;
  }
}

@media (min-width:500px) and (max-width:690px) {
  .h-main  {
    font-size:600%;
  }
    
  #first {
    display:block;
    margin-bottom:0;
  }
  
  #greet {
    font-size:230%;
  }
    
  h2 {
    font-size:130%;
  }
}

@media (min-width:690px) and (max-width:930px) {
  .h-main  {
    font-size:600%;
  }
  
  #greet {
    font-size:250%;
  }
    
  h2 {
    font-size:150%;
  }
}

/**** PROJECTS ****/
#arrow-left {
    position:absolute;
    right:0;
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent; 
	border-right:100px solid $bright-b; 
}

#arrow-left2 {
    @extend #arrow-left;
    margin-top:-50px;
    margin-right: 25px;
    border-right-color: $dark-b;
}

#title {
    font-size:300%;
    text-align:center;
    color: $asher;
}

#p-descrip {
    clear:both;
    padding: 10% 0;
}

hr {
    width:3em;
}

/*** PROJECT BLOCKS ***/
.projects {
    display: block;
    margin: 5% auto;
}

.project {
    padding: 5%;
    width: 100%;
    height: 300px;
    margin: 5% auto;
    z-index:5;
}

// headings
.proj-title {
    font-size:200%;
    padding-bottom: 0.5em;
}

.time {
    color: $silver;
}

.proj-content {
    width: 50%;
    float: left;
    margin-right: 10%;
}

.proj-img {
    width: 40%;
    float:left;
    
    img {
      float:center;
      width: 350px;
      height: 300px;
      border: 15px solid $lilia;
      border-bottom: 45px solid $lilia;
      -webkit-box-shadow: 3px 3px 3px #777;
         -moz-box-shadow: 3px 3px 3px #777;
              box-shadow: 3px 3px 3px #777;
    }
}

.btn {
    display: inline-block;
    padding: 2% 3%;
    margin: 2% auto;
    margin-bottom: 5%;
    text-align: center;
    text-transform: uppercase;
    font-weight:normal;
    outline: none;
    cursor: pointer;
}

.btn-p {
    background: #fff;
    color: $asher;
    border: 2px solid $light-b;
	border-radius: 5px;
	transition: all ease 0.4s;
    
    &:hover {
        color: #fff;
        background: $light-b;
    }
}

// media queries
@media (min-width:1000px) {
}

/**** PORTFOLIO ***/
/*#port {
    @include outer-container;
    margin:0;
    padding:2em 0em;
    background:$asher;
    color:$general;
    font-size:150%;
    font-family: $header-font-family;
    
    a:hover {
        color:$general;
    }
}


@media (min-width:1100px) {
  #port {
    padding: 2em 5em;
  }
}

.descrip {
    @include span-columns(6);
    text-align: center;
    margin:0;
    padding:2em 0;
}

.other {
    @include span-columns(12);
    text-align: center;
    margin:0;
    padding:2em 0;
}

@media (max-width:800px) {
    // make single column
    .descrip {
        @include span-columns(12);
    }
}

hr {
    width:3em;
}

p {
    margin-bottom:0;
}

// temp
h2.temp{
    text-align:center;
}*/