@import "general/normalize";
@import "general/variables";
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

// for loader
.remodal-bg {
    visibility: hidden;
}

/*******TOP HEADING********/
body {
    font-family: $header-font;
    color: $asher;
}

a {
    color:$dull-med;  
    text-decoration: none;
    
    &:hover {
        color: $asher;
    }
}

header {
  text-align:center;
  background: url("../img/trianglify.png") no-repeat 50% 50%;
  background-size:cover;
  font-family: $header-font-family;
  color: #fff;
  margin: 0 auto;
}

.h-main {
  display:block;
  font-size:600%;
  font-family:$header-font;
  //text-transform: uppercase;
  font-weight: bold;
  //color: #fff;
  //-webkit-text-fill-color: transparent;
  //background: -webkit-linear-gradient(transparent,                         transparent), url("../img/download2.png") repeat 25% 25%;
  //background: -o-linear-gradient(transparent, transparent);
  //-webkit-background-clip: text;
}


/***** NAV ******/
.navbar {
    font-family: $header-font;
    position:fixed;
    padding: 2%;
    background: $back;
    border-bottom: 1px solid $head-g;
    color: $gray;
    z-index: 100;
}

.menuItem {
    display:inline-block;
    padding: 0 1em;
   
    a {
        color: $gray;
    }
}

#home {
    float:left;
}

.right {
    float:right;
}

.stuckMenu{
    left:0px;
    width:100%;
}

.active a {
    text-decoration:line-through;
}

/***** ABOUT *****/
#about {
    padding-top: 5%;
}

#arrow-right {
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 100px solid $dull-light;
}

#arrow-right2 {
    @extend #arrow-right;
    margin-top:-50px;
    margin-left: 25px;
    border-left-color: $dull-dark;
}

@media (max-width: 350px) {
    #arrow-right {
        border-top-width: 30px;
        border-bottom-width: 30px;
        border-left-width: 50px;
    }
    
    #arrow-right2 {
        margin-top: -30px;
        margin-left: 20px;
    }
}

@media (min-width: 350px) and (max-width: 550px) {
    #arrow-right {
        border-top-width: 40px;
        border-bottom-width: 40px;
        border-left-width: 70px;
    }
    
    #arrow-right2 {
        margin-top: -35px;
    }
}

#about-descrip {
    padding: 5%;
    padding-top: 2%;
    background:#fff;
    font-family: $header-font-family;
    color: $gray;
    text-align:left;
    a:hover {
        color:$asher;
    }
}

h2 {
    font-size: 150%;
}

#greet {
    color: $asher;
    font-size:300%;
    padding-bottom: 0.5em;
}

#subtitle {
    display: block;
    font-size:70%;
}

#links {
    padding-top:1em;
}

// ABOUT MEDIA QUERIES
@media (max-width:350px) {
  #about-descrip > h2, #links > h2, p {
    font-size:80%;
  }

  .h-main {
    font-size:300%;
  }
    
  h3 {
    padding-top: 1em;
    font-size: 120%;
  }
    
  #greet {
    font-size:130%;
  }
    
  #first, #second {
    display:block;
    padding: 0 initial;
    margin: 0 initial;
    line-height: 1em;
  }

  #about-descrip {
    margin-bottom: 10%;
  }
}

@media (min-width:350px) and (max-width:500px) {
  .h-main  {
    font-size:400%;
  }
  
  #first, #second {
    display:block;
    margin:0 initial;
    padding: 0 initial;
    line-height: 1em;
  }
    
  h3 {
    font-size: 150%;
    padding-top: 1em;
  }
    
  #about-descrip > h2, #links > h2 {
    font-size:100%;
  }
      
  #greet {
    font-size:200%;
  }

  .descrip p, .button {
    font-size:80%;
  }

  #about-descrip {
    margin-bottom: 10%;
  }
}

@media (min-width:500px) and (max-width:690px) {
  .h-main  {
    font-size:500%;
  }
    
  #first, #second {
    display:block;
    margin:0 initial;
    padding: 0 initial;
    line-height: 1em;
  }
    
  h3 {
    padding-top: 1em;
  }
      
  #about-descrip > h2, #links > h2 {
    font-size:130%;
  }
    
  #greet {
    font-size:230%;
  }

  #about-descrip {
    margin-bottom: 10%;
  }
}

@media (min-width:690px) and (max-width:930px) {
  .h-main  {
    font-size:600%;
  }
  
  #about-descrip > h2, #links > h2 {
    font-size:150%;
  }
    
  #greet {
    font-size:250%;
  }
    
  #about-descrip {
    margin-bottom: 10%;
  }
}

@media (min-width: 1400px) {
  .h-main  {
    font-size:800%;
  }
  
  #about-descrip > h2, #links > h2 {
    font-size: 200%;
  }
    
  #greet {
    font-size: 350%;
  } 
}

/**** PROJECTS ****/
#arrow-left {
    position:absolute;
    right:0;
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent; 
	border-right:100px solid $dull-light; 
}

#arrow-left2 {
    @extend #arrow-left;
    margin-top:-50px;
    margin-right: 25px;
    border-right-color: $dull-dark;
}

@media (max-width: 350px) {
    #arrow-left {
        border-top-width: 30px;
        border-bottom-width: 30px;
        border-right-width: 50px;
    }
    
    #arrow-left2 {
        margin-top: -30px;
        margin-right: 20px;
    }
}

@media (min-width: 350px) and (max-width: 550px) {
    #arrow-left {
        border-top-width: 40px;
        border-bottom-width: 40px;
        border-right-width: 70px;
    }
    
    #arrow-left2 {
        margin-top: -40px;
    }
}

#title {
    font-size:300%;
    text-align:center;
    color: $asher;
}

#p-descrip {
    clear:both;
    padding: 10% 0;
}

hr {
    width:3em;
    border-width: 2px;
}

/*** PROJECT BLOCKS ***/
.projects {
    display: block;
    margin: 5% auto;
}

.project {
    padding: 5%;
    width: 100%;
    height: 300px;
    margin: 5% auto;
    z-index:5;
}

// headings
.proj-title {
    font-size:200%;
    padding-bottom: 0.5em;
}

.time {
    color: $silver;
}

.proj-content {
    width: 50%;
    margin-right: 10%;
    float:left;
}

.proj-img {
    float:left;
    padding-left: 2%;
    width: 40%;
    
    img {
      float:center;
      width: 350px;
      height: 300px;
      border: 15px solid $lilia;
      border-bottom: 45px solid $lilia;
      -webkit-box-shadow: 3px 3px 3px #777;
         -moz-box-shadow: 3px 3px 3px #777;
              box-shadow: 3px 3px 3px #777;
    }
}

.btn {
    display: inline-block;
    padding: 2% 3%;
    margin: 2% auto;
    margin-bottom: 5%;
    text-align: center;
    text-transform: uppercase;
    font-weight:normal;
    outline: none;
    cursor: pointer;
}

.btn-p {
    // temporary
    visibility:hidden;
    background: #fff;
    color: $asher;
    border: 2px solid $light-b;
	border-radius: 5px;
	transition: all ease 0.4s;
    
    &:hover {
        color: #fff;
        background: $light-b;
    }
}

//media queries
@media (max-width: 400px) {
    .proj-img img{
        width: 250px;
        height: 200px;
    }
    
    .proj-title {
        margin-top: 5%;
        font-size: 150%;
    }
    
    .time {
        font-size: 80%;
    }
    
    #title {
        margin-top: 15%;
        font-size: 200%;
    }
    
    .time {
        display:block;
    }
    
    .divider {
       display:none;
    }
    
    .proj-content, .proj-img {
        width: 100%;
        text-align: center;
    }
    
    .proj-img {
        margin-bottom: 5%;
        padding-bottom: 5%;
        border-bottom: 4px double $pearl;
    }
}

@media (min-width: 400px) and (max-width:460px) {
    .proj-title {
        margin-top: 5%;
        font-size: 180%;
    }
    
    .time {
        font-size: 90%;
    }
    
    #title {
        margin-top: 10%;
        font-size: 250%;
    }
    
    .time {
        display:block;
    }
    
    .divider {
       display:none;
    }
    
    .proj-content, .proj-img {
        width: 100%;
        text-align: center;
    }
    
    .proj-img {
        margin-bottom: 5%;
        padding-bottom: 5%;
        border-bottom: 4px double $pearl;
    }
}

// change to single view
@media (min-width: 460px) and (max-width:1000px) {
    .time {
        display:block;
    }
    
    .divider {
       display:none;
    }
    
    .proj-content, .proj-img {
        width: 100%;
        text-align: center;
    }
    
    .proj-img {
        margin-bottom: 5%;
        padding-bottom: 5%;
        border-bottom: 4px double $pearl;
    }
}

@media (min-width: 1400px) {
    #title {
        font-size: 400%;
    }
    
    .project {
        margin-bottom: 10%; 
    }

    .proj-title {
        font-size: 250%;
    }

    .proj-descrip  {
        font-size: 130%;
    }
    
    .proj-img {
        padding-left: 8%;
        
        img{
            width: 400px;
            height: 350px;
        }
    }
}

/**** PORTFOLIO ***/
/*#port {
    @include outer-container;
    margin:0;
    padding:2em 0em;
    background:$asher;
    color:$general;
    font-size:150%;
    font-family: $header-font-family;
    
    a:hover {
        color:$general;
    }
}


@media (min-width:1100px) {
  #port {
    padding: 2em 5em;
  }
}

.descrip {
    @include span-columns(6);
    text-align: center;
    margin:0;
    padding:2em 0;
}

.other {
    @include span-columns(12);
    text-align: center;
    margin:0;
    padding:2em 0;
}

@media (max-width:800px) {
    // make single column
    .descrip {
        @include span-columns(12);
    }
}

hr {
    width:3em;
}

p {
    margin-bottom:0;
}

// temp
h2.temp{
    text-align:center;
}*/