/* line 1, ../_sass/post.scss */
h2 {
  clear: both;
  text-decoration: underline;
}

/* line 6, ../_sass/post.scss */
a {
  color: black;
}

/* line 13, ../_sass/post.scss */
img[alt="shoc1"],
img[alt="problem"],
img[alt="prev"],
img[alt="after"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}

@media (min-width: 600px) {
  /* line 21, ../_sass/post.scss */
  img[alt="shoc1"] {
    float: left;
    padding-bottom: 2em;
  }
}
