@import "../../scss/general";

h2 {
    color:$asher;
    font-size:35px;
    font-family:$header-font;
    text-transform:uppercase;
    padding:1em;
    padding-top:2em;
}

/*** PROJECT DESCRIPTIONS ***/
.cards {
  @include clearfix;
    margin: 1em 3em;
    margin-bottom: 0;
}

.card {
  $card-border-color: $jade;
  $card-border: 1px solid $card-border-color;
  $card-background: $asher;
  $card-header-background: $jade;
  $card-hover-background: lighten($card-background, 5);
  $card-image-background: #DBD199;
  $card-image-hover-background: lighten($card-image-background, 5);

  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  color:$general;
  border-radius: 20px;
  border: $card-border;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  position: relative;
  font-family:$header-font;

  @include media($large-screen) {
    @include span-columns(4);  
    @include omega(3n);
  }

  .card-image {
    overflow: hidden;
    max-height: 150px;

    img {
      width: 100%;
      @include transition (all 0.2s ease-in-out);
      //background: $card-image-background;
      //border-top-left-radius: $base-border-radius;
      //border-top-right-radius: $base-border-radius;
    }
  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: 20px 20px 0 0;
    font-weight: bold;
    padding: 1em $gutter/2;
    padding-left:1.5em;
    font-size: 20px;
  }

  .card-copy {
    padding: 2em;
    font-size: .9em;
    line-height: 1.5em;
    
    a {
        color:$general;
        text-decoration: underline;
    }
  }

  &:hover {
    //background-color: $card-hover-background;
    
    .card-image img {
      background: $card-image-hover-background;
    }
  
    .card-header {
      background-color: $general;
      color:$card-header-background;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}
